{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mb-4" style="color: #e91e63;">Вход</h1>
    <form method="post" action="{{ url_for('login') }}" class="w-50 mx-auto p-4 border rounded" style="background-color: #f8bbd0;">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label", style="color: #880e4f;") }}
            {{ form.username(class="form-control", style="border-color: #e91e63;") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label", style="color: #880e4f;") }}
            {{ form.password(class="form-control", style="border-color: #e91e63;") }}
        </div>
        <div class="text-center">
            {{ form.submit(class="btn btn-primary", style="background-color: #e91e63; border-color: #e91e63;") }}
        </div>
    </form>
{% endblock %}